/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* 
#####################################
index.html page
##################################### 
*/

.container {
	width: 900px;
	margin: 0 auto;
	/* border: 1px solid red; */
}

 header {
	display: inline-block;
	width: 900px;
	background-image: linear-gradient(#008cff, white, rgba(255,0,0,0));
	padding-bottom: 50px;
	position: fixed;
	top: 0;
}

header nav {
	display: inline-block;
	margin: 0 60px;;
	margin-top: 35px;
}

header nav a {
	text-decoration: none;
	color: grey;
	margin: 0 20px;
	color: black;
}

header nav a:hover {
	background: grey;
	color: white;
	transition: 0.8s;
	padding: 5px 0;
}

section.cta {
	margin: 35px;
	margin-top: 150px;
}
section .cta-text {
	display: inline-block;
	margin: 0 50px;
	text-align: center;
}

div.cta-text h1 {
	font-size: 80px;
}

div.cta-text button {
	padding: 5px 40px;
	color: grey;
	background-color: white;
}

section.main {
	display: row;
	padding: 200px 0 50px 0;
}

section.main * {
	padding: 10px 0;
}

div.main-product {
	margin-top: 200px;
}

div.main-product {
    margin: 200px 0;
}

div.main-product h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 75px;
}

div.text-product {
    display: inline-block;
    margin: 1%;
    width: 47%;
}


div

img.middle-img {
	width: 100%;
}

img.services-header-img {
	width: 100%;
}

section.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.content-services {
	flex-basis: 47%;
	border: 1px solid black;
	background-color: #f1f1f3;
	padding: 25px;
	margin: 25px 0;
}

.content-services button {
	width: 35%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin: 25px 0;
}

.content-service button a {
	color: black;
}

section.facts {
	display: flex;
	justify-content: space-around;
	padding: 25px 0;
}

div.text-left {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 0 30px 25px 0;
}

div.text-left ul li{
	list-style-type: square;
	margin: 15px 20px;
}

.img-right {
	width: 50%;
}

footer {
	text-align: center;
	margin: 30px 0;
}

hr {
	border: 1px solid black;
}